@import url("../../common/css/animation.css");

Body {
    width: 80%;
    height: 80%;
    margin: 10%;
}

.Container {
    background: #888888;
    padding: 20px;
}

.Client {
    background: #333333;
    margin: 20px;
}

.DeviceList .ServerList {
    width: 100%;
    height: 200px;
}

.Server {
    background: #333333;
    margin: 20px;
}

div span {
    color: red;
}
